<div id="PostPreview">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-auto mr-auto">Категория</div>
                    <div class="col-auto">Автор</div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <span>@DateTime.Now.Day</span>
                        <span>@DateTime.Now.Month</span>
                        <span>@DateTime.Now.Year</span>
                    </div>
                    <div class="col-auto">
                        Like <br />Kоменты
                    </div>
                </div>
                <div class="row">
                    <div id="NameOfPost" class="col-12 text-center">Название</div>
                </div>
            </div>
        </div>
    </div>
</div>